body{
    background-color: rgb(255, 238, 223);
    font-family: 'Montserrat' , sans-serif;
}
button{
    position: absolute;


    width: 240px;
    height: 240px;

    border: none;
    border-radius: 120px;

    left: calc(50% - 120px);
    top: calc(50% - 120px);

    background-color: rgb(28, 90, 78);
    color: rgb(255, 238, 223);

    font-size: 200px;
    font-family: 'Montserrat' , sans-serif;
    text-transform: uppercase;
}